html {
	background-size: cover;
    background-image: url("http://i3.mirror.co.uk/incoming/article11124681.ece/ALTERNATES/s810/Waves-crash-against-the-seawall-in-Fajardo-as-Hurricane-Irma-slammed-across-islands-in-the-northern.jpg");
}

h1 {
	color: purple;
	font-size: 50px;
	text-align: center;
}

h2 {
	color: red;
	font-size: 30px;
	text-align: center;
}

table {
	width: 100%
}
table, th, td {
	color:blue;
	font-size: 40px;
	text-align: center;
	border: 2px solid green;
	border-radius: 5px;
	table-layout: fixed;
}

td {
	width: 100px;
	height: 75px
	}
	
img {
	width: 300px;
	height: 225px;
	border: 1px solid #999;


}